<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss,SSS} * %-5level - %c{1} - %M - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="File" fileName="proto.log"
                     filePattern="proto-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{ISO8601} * %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="max" max="7"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="File" level="debug"/>
        </Root>
        <Logger name="org.hibernate" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.jboss" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.quartz" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.slf4j" level="OFF" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>
